.user-msg {
    position: fixed;
    bottom: 2%;
    left: 5%;
    background-color: #202124;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: lato-thin;
    font-size: 0.7rem;
  }
  
  .user-msg h2 {
    margin-right: 10px;
  }
  
  .user-msg button {
    background-color: inherit;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }